p{  
     text-align: center 
	 
} 
body{
	background: black;
	  color: white;
}
h1 {
	color: green;
} 
em strong{
	color: #ff0000
}
#banner {
     width: 100%;
} 
.items{
	font-style: italic;
	list-style: none;
}  
#beneficios{
	 width:100%;
} 